 <head>
    <link rel="stylesheet" href="tickets_style.css">
</head>

<div class="multiple-ticket">
    <h4>Στοιχεία Επιπλέον Επισκέπτη</h4>
    <div class="name">
        <label for="onoma{{uniqueId}}">Ονοματεπώνυμο:</label>
        <input type="text" id="onoma{{uniqueId}}" name="onoma{{uniqueId}}" placeholder="Συμπληρώστε το ονοματεπώνυμό σας.." required>
    </div>

    <div class="eidiki">
        <label for="katigoria{{uniqueId}}">Ειδική Κατηγορία:</label>
        <select name="katigoria{{uniqueId}}" id="katigoria{{uniqueId}}" onchange="calculate_cost(this)" >
            <option value="">Καμία</option>
            <option value="foititis">Φοιτητής-50%</option>
            <option value="disabled">ΑΜΕΑ-50%</option>
            <option value="polyteknoi">Πολύτεκνοι-25%</option>
            <option value="paidia">Παιδιά κάτω των 12 ετών-Δωρεάν</option>
        </select>
    </div>

     <span class="kostos">Κόστος: <span id="value{{uniqueId}}">10</span>ευρώ</span>
</div>
