 <div class="update-form">
    <div class="plirofories">
        <div class="titlos">
            <label>Tίτλος</label>
            <span class="show2">{{ekthes.onoma_ekthesis}}</p>
        </div>

        <div class="perigrafi">
            <label>Περιγραφή</label>
            <span class="show2">{{ekthes.perigrafi}}</span>
        </div>

        <div class="aithousa">
         <span class="show">Αίθουσα Προβολής: <span class="show2">{{ekthes.id_aithousas}}</span></span>
        </div>

            <div class="imerom">
                <span class="show">Ημερομηνία Διεξαγωγής </span>
                <span class="show2">{{ekthes.imerominia_enarxis}} έως {{ekthes.imerominia_lixis}}</span>
            </div>

     

    </div>

    <div class="image-link">
        <img src={{ekthes.link}} class="edit-image">
    </div>
</div>

 <h2>Έργα που περιέχονται</h2>

<div class="erga-container">
   
    {{#each erga_exh}}
        <div class="ergo-exh">
            <h3>{{this.onoma}}</h3>
            <img src="{{this.link}}">
            <h4>Κωδικός έργου: {{this.arithmos_ergou}}</h4>
        </div>

    {{/each}}
</div>