<div class="container add">
    <h2>Δημιουργία Νέας Έκθεσης</h2>

    <form class="information-form" method="post" action="/admin/addExhibition/submit">
        <label for="title">Τίτλος</label>
        <input type="text" id="title" name="title" placeholder="Πληκτρολογήστε τον τίτλο της έκθεσης.."
            value="{{ex_info.title}}" required>

        <div class="img-ekthesis">
            <label for="link">Link Εικόνας</label>
            <input type="text" name="link" id="link"
                placeholder="Πληκτρολογήστε το link για την αντιπροσωπευτική εικόνα της έκθεσης.."
                value="{{ex_info.link}}" required>
        </div>

        <label for="perigrafi">Περιγραφή Έκθεσης</label>
        <textarea name="perigrafi" id="perigrafi" placeholder="Πληκτρολογήστε την περιγραφή της έκθεσης.." rows="10"
            required>{{ex_info.perigrafi}}</textarea>

        <div class="imer">
            <div>
                <label for="imer_enarx">Ημερομηνία Έναρξης:</label>
                <input type="date" name="imer_enarx" id="imer_enarx" value="{{ex_info.imer_enarx}}" required>
            </div>
            <div class="liksi">
                <label for="imer_liksis">Ημερομηνία Λήξης:</label>
                <input type="date" name="imer_liksis" id="imer_liksis" value="{{ex_info.imer_liksis}}" required>
            </div>
        </div>
        <label for="aithousa">Επιλέξτε Αίθουσα</label>
        <select name="aithousa" id="aithousa" required>
            <option value="1">Αίθουσα 1</option>
            <option value="2">Αίθουσα 2</option>
            <option value="3">Αίθουσα 3</option>
        </select>

        <div class="buttons">
            <button class="submit-btn" type="submit">Συνέχεια</button>
            <a href="/admin/edit">Ακύρωση</a>
        </div>
    </form>
</div>

<script>
    function continueExhibition2() {
        const form = document.querySelector('.information-form');
        if (form.checkValidity()) {
            window.location.href = "/admin/addExhibition2";
            return false; // Prevent default form submission
        }
        return false; // Prevent default form submission if invalid
    }

    // JavaScript to set the minimum date
    const datePicker = document.getElementById('imer_enarx');
    const date_after = document.getElementById('imer_liksis');
    const today = new Date();
    const day = String(today.getDate()).padStart(2, '0');
    const month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0
    const year = today.getFullYear();

    // Set the min attribute to today's date in YYYY-MM-DD format
    const minDate = `${year}-${month}-${day}`;
    datePicker.setAttribute('min', minDate);
    date_after.setAttribute('min', minDate);

    // Function to update the minimum end date
    datePicker.addEventListener('change', function () {
        const startDate = datePicker.value;
        date_after.setAttribute('min', startDate);
        if (date_after.value < startDate) {
            date_after.value = startDate;
        }
    });

</script>