<div class="katigoria-ergon container">
    <button class="prosthiki" onclick="addErgo()">Προσθήκη Νέου Έργου</button>
    <h3>Αποθήκη</h3>
    <hr>
    <div class="grid-erga">
        {{#each erga}}
        <div class="ergo">
            <img src={{this.link}} alt="">
            <h5>{{this.onoma}}</h5>
            <h5>{{this.arithmos_ergou}}</h5>
            <div class="buttons">
                <button class="epex" onclick="edit('{{this.arithmos_ergou}}')">Επεξεργασία</button>
                <button class="diag" onclick="deleteErgo('{{this.arithmos_ergou}}')">Διαγραφή</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<script>
    function edit(arithmos_ergou) {
        window.location.href = `/admin/edit/${arithmos_ergou}`;
    }

    function addErgo() {
        window.location.href = "/admin/addPainting";
    }

    function deleteErgo(arithmos_ergou) {
        if (confirm("Είστε σίγουροι ότι θέλετε να διαγράψετε αυτό το έργο;")) {
            window.location.href = "/admin/edit/delete/" + arithmos_ergou;
        }
    }

</script>