

<section class="collection-temp">
    <div class="details">
        <h1>{{info.onoma}}</h1>
        <img src={{info.link}}>
        <h4>Καλλιτέχνης: <span class="painter">{{info.kallitexnis}} </span></h4>
        <h4>Αριθμός έργου: <span class="id"></span>{{info.arithmos_ergou}}</h4>
        <h4>Χρονολογία: <span class="xronologia">{{info.xronologia}}</span></h4>
        <h4>Τύπος καμβά: <span class="typos">{{info.typos_kamva}}</span></h4>
        <h4>Διαστάσεις: <span class="diastaseis">{{info.diastaseis}}</span></h4>
    </div>

    <div class="perigrafi">
        <p>{{info.perigrafi}}</p>
    </div>
</section>