<section class="ektheseis">
    <h1>Προβάλλονται τώρα</h1>

    <div class="protes-aithouses">
        {{#each current_exh}}
        <div class="aithousa">
            <h3>{{this.onoma_ekthesis}}</h3>
            <img src="{{this.link}}">
            <h5>Ημερομηνία Διεξαγωγής: <span class="imerominia">{{this.imerominia_enarxis}} έως
                    {{this.imerominia_lixis}}</span></h5>
            <h5>Αίθουσα Διεξαγωγής: <span class="arithmos-aithousas">{{this.id_aithousas}}</span></h5>
            <h5 id="perigrafi-ekthesis">Περιγραφή</h5>
            <p>{{this.perigrafi}}</p>
        </div>
        {{/each}}
    </div>

    <h1 id="prosexws">Προσεχώς</h1>

    <div class="protes-aithouses">
        {{#each future_exh}}
        <div class="aithousa">
            <h3>{{this.onoma_ekthesis}}</h3>
            <img src="{{this.link}}">
            <h5>Ημερομηνία Διεξαγωγής: <span class="imerominia">{{this.imerominia_enarxis}} έως
                    {{this.imerominia_lixis}}</span></h5>
            <h5>Αίθουσα Διεξαγωγής: <span class="arithmos-aithousas">{{this.id_aithousas}}</span></h5>
            <h5 id="perigrafi-ekthesis">Περιγραφή</h5>
            <p>{{this.perigrafi}}</p>
        </div>
        {{/each}}
    </div>



</section>